* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
}

header nav {
    height: 100 vh;
    width: auto;
}    

.menu {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: rgb(24, 23, 23);
    color: white;
    padding: 0 1em;
    
}

.dropdown {
    position: relative;
    padding: 2em 2em;
}

.dropdown-items {
    display: flex;
    flex-direction: column;
    position: absolute;
    padding: 2em 0;
}
